<div *ngIf="!username"> <!---->
  <h1>Login into your account</h1>
  <p>Please enter your credentials to access your Zzpace account!</p>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" > <!--  *ngIf="!flightsDataError" -->
    <div class="form-row">
      <div class="form-group col-md-4">
        <mat-form-field appearance="standard">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" placeholder="Username">
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <mat-form-field appearance="standard">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" placeholder="Password">
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <button mat-stroked-button color="basic">
          LOGIN
        </button>
      </div>
    </div>
    <div class="form-row" *ngIf="error$ | async">
      <div class="form-group">
          <ngb-alert type="danger" [dismissible]="false"> {{error$ | async}} </ngb-alert>
        </div>
     </div>
  </form>
  <div class="form-row">
    <div class="form-group">
      <p>New to Zzpace? Please <a class="" [routerLink]="['/register']">register</a> with us!</p>
    </div>
  </div>
</div>
