<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
      <h1>New User Registration</h1>
      <p>Please register with a username and password!</p>
  </div>
  <div class="form-row">
      <div class="form-group">
        <mat-form-field appearance="standard">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" placeholder="Username" required>
          <mat-error *ngIf="registerForm.controls.username.errors?.minlength">Username must be at least 8 characters.</mat-error>
        </mat-form-field>   
      </div>
  </div>
  <div class="form-row">
      <div class="form-group">
        <mat-form-field appearance="standard">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Password" autocomplete="on" required>
          <mat-error *ngIf="registerForm.controls.password.errors?.minlength">Password must be at least 8 characters.</mat-error>
        </mat-form-field>
      </div>
  </div>
  <div class="form-row">
      <div class="form-group">
        <button mat-stroked-button color="basic" [disabled]="!registerForm.valid">
          REGISTER
        </button>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4"> 
          <p *ngIf="newUserCreated">Congrats, new user created!</p>
          <p *ngIf="newUserError">An error occured, please try again!</p>
          <!--TODO: FIX / UPDATE THESE MESSAGES-->
      </div>
  </div>
</form>