<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Zzpace</a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link"  [routerLink]="['/']">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/flights']">Flights</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/hotels']">Hotels</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/teleportation']">Teleportation</a>
      </li>
      <li className="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a *ngIf="!username; else elseUserName" class="nav-link d-block d-sm-block d-lg-none" [routerLink]="['/login']">Login</a>
        <ng-template #elseUserName>
          <a class="nav-link d-block d-sm-block d-lg-none" (click)="logoutClick()">Logout</a>
        </ng-template>
      </li>
    </ul>
    <button mat-stroked-button color="primary" class="login-button d-none d-lg-block d-xl-block">
      <a *ngIf="!username; else elseUserNameMobile" [routerLink]="['/login']"> Login </a>
      <ng-template #elseUserNameMobile>
        <a (click)="logoutClick()"> Logout </a>
      </ng-template>
    </button>
  </div>
</nav>
