<!-- <input type="text" class="form-control" placeholder={{placeholder}}> -->

<!-- <mat-form-field class="example-full-width">
  <input matInput type="text" class="form-control" placeholder={{placeholder}} aria-label="asdf" [matAutocomplete]="auto" [formControl]="stateCtrl">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
      <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
      <span>{{ state.name }}</span> |
      <small>Population: {{state.population}}</small>
    </mat-option>
  </mat-autocomplete>
</mat-form-field> -->

<mat-form-field class="example-full-width">
  <input matInput type="text" class="form-control" placeholder={{placeholder}} aria-label="asdf" [matAutocomplete]="auto" [formControl]="locationCtrl">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let location of filteredLocations | async" [value]="location.name">
      <span>{{ location.name }}</span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>


<!--<br />
 <mat-slide-toggle
  [checked]="locationCtrl.disabled"
  (change)="locationCtrl.disabled ? locationCtrl.enable() : locationCtrl.disable()">
  Disable Input?
</mat-slide-toggle> -->
