<form>
  <div class="form-row">
    <div class="form-group col-md-4">
      <app-location-picker [placeholder]="'From'"></app-location-picker>
    </div>
    <div class="form-group col-md-4">
      <app-location-picker [placeholder]="'To'"></app-location-picker>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <app-date-picker [placeholder]="'Departure Date'"></app-date-picker>
    </div>
    <div class="form-group col-md-4">
      <app-date-picker [placeholder]="'Return Date'"></app-date-picker>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <app-ticket-select></app-ticket-select>
    </div>
  </div>
</form>
