<div *ngIf="flightsDataError">
  <h1>Sorry an error occured, please try again!</h1>
</div>
<form [formGroup]="flightsForm" (ngSubmit)="onSubmit()" *ngIf="!flightsDataError">
  <div *ngIf="!loadingScreen && !displayDepartureResults && !displayArrivalResults && !displayFlightPicked">
    <h1>Flights</h1>
    <div class="btn-group pb-1" role="group" aria-label="Navigation buttons" >
      <button type="button" class="btn btn-secondary" [ngClass]="{'active': returnFlightType}" (click)="changeFlightTypeReturn()" aria-pressed="true">Return</button>
      <button type="button" class="btn btn-secondary" [ngClass]="{'active': oneWayFlightType}" (click)="changeFlightTypeOneWay()" aria-pressed="true">One-Way</button>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <mat-form-field class="example-full-width">
         <input formControlName="fromLocation" matInput type="text" class="form-control" placeholder="From" aria-label="From" [matAutocomplete]="auto" required>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="locationPickerCheck($event)">
            <mat-option *ngFor="let location of locations" [value]="location.name">
              <span>{{ location.name }}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="form-group col-md-4">
          <mat-form-field class="example-full-width">
            <input formControlName="toLocation" matInput  type="text" class="form-control" placeholder="To" aria-label="To" [matAutocomplete]="auto" required>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="locationPickerCheck($event)">
              <mat-option *ngFor="let location of locations" [value]="location.name">
                <span>{{ location.name }}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
      </div>
      <p class="text-danger px-1" *ngIf="flightsForm.controls.toLocation.errors?.invalidLocations">The locations can't match, please ensure that they are different.</p>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <mat-form-field class="form-control">
          <input matInput formControlName="departureDate" [matDatepicker]="picker" placeholder="Departure Date" [min]="minDateDeparture" [max]="maxDateDeparture" (dateChange)="dateCheck()" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-group col-md-4">
        <mat-form-field class="form-control" *ngIf="returnFlightType">
          <input matInput formControlName="returnDate" [matDatepicker]="picker2" placeholder="Return Date" [min]="minDateReturn" [max]="maxDateReturn" (dateChange)="dateCheck()"  required>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
      <p class="text-danger px-1" *ngIf="flightsForm.controls.returnDate.errors?.invalidDates">The departure date must be before the return date.</p>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <mat-form-field>
          <mat-select formControlName="ticketsAmt"  placeholder="Number of Tickets" required>
            <mat-option *ngFor="let option of selectOptions" [value]="option.value" >
              {{ option.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <button type="submit" mat-raised-button [disabled]="!flightsForm.valid">Search</button>
      </div>
    </div>
  </div>
  <div *ngIf="displayResults">
    <div *ngIf="loadingScreen">
      <h1>Loading Flights...</h1>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div *ngIf="displayDepartureResults">
      <h1> Please pick a departure flight! </h1>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let departureFlights of departureflightResults">
          <p> <span class="font-weight-bold">{{departureFlights.flightId}}</span>
          <p> <span class="font-weight-bold">{{departureFlights.departureLocation}}</span> to <span class="font-weight-bold">{{departureFlights.arrivalLocation}}</span> - <span class="font-weight-bold">Trip Length:</span> {{ departureFlights.flightTimeLength }} Hours <p>
          <p class="mb-1"><span class="font-weight-bold">Departure:</span> {{ departureFlights.departureTime | date:'medium' }}</p>
          <p class="mb-1"><span class="font-weight-bold">Arrival:</span> {{ departureFlights.arrivalTime | date:'medium' }} </p>
          <br>
          <span class="font-weight-bold">Price:</span> {{ departureFlights.flightPrice | currency }}
          <button type="button" class="btn btn-primary float-right" (click)="pickDepartureFlight(departureFlights.flightId, departureFlights)">Select</button>
        </li>
      </ul>
    </div>
    <div *ngIf="returnFlightType && displayArrivalResults">
      <h1> Please pick a return flight!</h1>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let returnFlights of returnFlightResults">
          <p> <span class="font-weight-bold">{{returnFlights.flightId}}</span>
          <p> <span class="font-weight-bold">{{returnFlights.departureLocation}}</span> to <span class="font-weight-bold">{{returnFlights.arrivalLocation}}</span> - <span class="font-weight-bold">Trip Length:</span> {{ returnFlights.flightTimeLength }} Hours <p>
          <p class="mb-1"><span class="font-weight-bold">Departure:</span> {{ returnFlights.departureTime | date:'medium' }}</p>
          <p class="mb-1"><span class="font-weight-bold">Arrival:</span> {{ returnFlights.arrivalTime | date:'medium' }} </p>
          <br>
          <span class="font-weight-bold">Price:</span> {{ returnFlights.flightPrice | currency }}
          <button type="button" class="btn btn-primary float-right" (click)="pickReturnFlight(returnFlights.flightId, returnFlights)">Select</button>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="displayFlightPicked">
    <h1>Congrats for your booking!</h1>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let flightData of flightData; let i = index">
        <h2 *ngIf="i == 0">Departure Flight:</h2>
        <h2 *ngIf="i == 1">Return Flight:</h2>
        <p> <span class="font-weight-bold">Flight Id: {{flightData.flightId}}</span></p>
        <p> <span class="font-weight-bold">Number of Tickets: {{flightData.ticketsAmt}}</span></p>
        <p> <span class="font-weight-bold">{{flightData.departureLocation}}</span> to <span class="font-weight-bold">{{flightData.arrivalLocation}}</span> - <span class="font-weight-bold">Trip Length:</span> {{ flightData.flightTimeLength }} Hours </p>
        <p class="mb-1"><span class="font-weight-bold">Departure:</span> {{ flightData.departureTime | date:'medium' }}</p>
        <p class="mb-1"><span class="font-weight-bold">Arrival:</span> {{ flightData.arrivalTime | date:'medium' }} </p>
        <br>
        <span class="font-weight-bold">Price per ticket:</span> {{ flightData.flightPrice | currency }}
      </li>
      <li class="list-group-item">
        <p>Subtotal: {{ totalFlightsSubtotal | currency}}</p>
        <p>Tax: {{ totalFlightsTaxtotal | currency}}</p>
        <p>Total Price: {{ totalFlightsCost | currency}}</p>
        <p>Thank you for flying with Zzpace!</p>
      </li>
    </ul>
  </div>
</form>
